{% extends "MazenoviTodoMVCBundle::layout.html.twig" %}

{#% block head_script %}
    {% javascripts  '@ManyMulesJQueryBundle/Resources/public/jquery.js'
                    '@ManyMulesJSON2JSBundle/Resources/public/json2.js'
                    '@ManyMulesUnderscoreJSBundle/Resources/public/underscore.js'
                    '@ManyMulesBackboneJSBundle/Resources/public/backbone.js'
                    '@MazenoviTodoMVCBundle/Resources/public/js/todos.js'                     
                    filter='yui_js' %}
                    <!-- '@FOSJsRoutingBundle/Resources/js/router.js' -->
            <script src="{{ asset_url }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endjavascripts %}
{% endblock head_script %#}
{% block head_script %}
  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  <script src="/bundles/mazenovitodomvc/js/base.js"></script>
  <script data-main="/bundles/mazenovitodomvc/js/main" src="/bundles/manymulesrequirejs/js/require.min.js"></script>
{% endblock head_script %}

{% block content_title %}Todos{% endblock content_title %}

{% block new_todo %}<input id="new-todo" autofocus="" placeholder="What needs to be done?">{% endblock new_todo %}

{% block content %}  

    {% block mark_all %}

      {#% if is_granted('ROLE_ADMIN') %#}
      
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>

      {#% endif %#}

    {% endblock mark_all %}

{% endblock content %}